*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [navbar-start] minmax(min-content, 1.5fr) [navbar-end content-start] minmax(min-content, 5fr) [content-end social-start] minmax(min-content, 0.5fr) [social-end]; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto; } }

.social {
  background-color: #455979;
  grid-column: social-start/social-end;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: .01fr auto;
  grid-template-rows: 20rem repeat(7, min-content) 1fr;
  grid-gap: 1.5rem; }
  .social__item {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: all .5s; }
  .social__item:hover {
    color: #95A5A6; }
  .social__facebook {
    grid-column: 2/3;
    grid-row: 2/3; }
  .social__houzz {
    grid-column: 2/3;
    grid-row: 3/4; }
  .social__insta {
    grid-column: 2/3;
    grid-row: 4/5; }
  .social__twitter {
    grid-column: 2/3;
    grid-row: 5/6; }
  .social__linkedin {
    grid-column: 2/3;
    grid-row: 6/7; }
  .social__pintrest {
    grid-column: 2/3;
    grid-row: 7/8; }
  .social__google {
    grid-column: 2/3;
    grid-row: 8/9; }

@media screen and (max-width: 768px) {
  .social {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: 20rem;
    margin-top: -25px; }
  .social__item {
    display: none; } }

.nav {
  background-color: #455979;
  grid-column: navbar-start/navbar-end;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.1rem repeat(3, 3rem) repeat(5, min-content) minmax(10rem, 30rem) minmax(min-content, 1fr);
  grid-gap: 3rem;
  justify-content: center; }
  .nav__item {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    transition: all .5s; }
  .nav__item:hover {
    color: #95A5A6;
    cursor: pointer; }
  .nav__logo {
    height: 15rem;
    width: 27rem;
    justify-self: center;
    grid-column: 2/4;
    grid-row: 2/4; }
  .nav__home {
    grid-column: 2/4;
    grid-row: 5/6; }
  .nav__about {
    grid-column: 2/4;
    grid-row: 6/7; }
  .nav__products {
    grid-column: 2/4;
    grid-row: 7/8; }
  .nav__contact {
    grid-column: 2/4;
    grid-row: 8/9; }
  .nav__copyright {
    font-size: .8rem;
    grid-column: 2/4;
    grid-row: 9/10;
    margin-top: 2rem;
    text-align: center; }
  .nav__financing {
    grid-column: 1/-1;
    grid-row: 10/11;
    justify-self: center;
    height: 50%;
    width: 50%; }

.nav__menu {
  background-color: skyblue;
  z-index: 10;
  justify-self: start;
  display: none;
  grid-column: 2/3; }
  .nav__menu a {
    text-decoration: none;
    font-size: 2.3rem;
    color: white;
    justify-content: start; }
  .nav__menu a:hover {
    color: #aaa;
    transition: all 1.2s; }

#products:hover + #product__menu {
  display: grid;
  grid-column: 4/5;
  justify-self: start; }

@media screen and (max-width: 1300px) {
  .nav__logo {
    height: 12rem;
    width: 22rem; } }

@media screen and (max-width: 1100px) {
  .nav__logo {
    height: 10rem;
    width: 17rem; } }

@media screen and (max-width: 890px) {
  .nav__logo {
    height: 6rem;
    width: 13rem; } }

@media screen and (max-width: 768px) {
  .nav {
    grid-row: 1/2;
    grid-column: 1/-1;
    height: 30rem; }
  .nav__item {
    display: none; }
  .nav__logo {
    height: 18rem;
    width: 32rem; } }

.content {
  grid-column: content-start/content-end;
  grid-row: 1/-1;
  padding: 1.5rem;
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(28, 2.5vw); }
  .content__item {
    transition: all 1.2s; }
  .content__item:hover {
    transform: scale(1.1, 1.1); }
  .content__item-1 {
    grid-column: 1/2;
    grid-row: 2/ 14; }
  .content__item-2 {
    grid-column: 2/3;
    grid-row: 16/28; }
  .content__item-3 {
    grid-column: 2/3;
    grid-row: 2/8; }
  .content__item-5 {
    grid-column: 2/3;
    grid-row: 9/15; }
  .content__item-4 {
    grid-column: 1/2;
    grid-row: 23/29; }
  .content__item-6 {
    grid-column: 1/2;
    grid-row: 15/22; }
  .content__item-7 {
    grid-column: 3/4;
    grid-row: 14/27; }
  .content__item-8 {
    grid-column: 3/4;
    grid-row: 2/13; }

@media screen and (max-width: 768px) {
  .content {
    grid-row: 3/-1;
    grid-column: 1/-1;
    display: block; }
    .content__item {
      display: block;
      width: 90%;
      margin: 3rem auto; }
    .content .content__item-1 {
      grid-row: 3/4; }
    .content .content__item-8 {
      grid-row: 4/5; }
    .content .content__item-3 {
      grid-row: 5/6; }
    .content .content__item-7 {
      grid-row: 6/7; }
    .content .content__item-5 {
      grid-row: 7/8; }
    .content .content__item-4 {
      grid-row: 8/9; }
    .content .content__item-2 {
      grid-row: 9/10; }
    .content .content__item-6 {
      grid-row: 10/11; } }

.pergolas {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .pergolas__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .pergolas__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .pergolas__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.retractaroofs {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .retractaroofs__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .retractaroofs__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .retractaroofs__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.arcadia {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .arcadia__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .arcadia__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .arcadia__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.commercial {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .commercial__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .commercial__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .commercial__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.heaters {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .heaters__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .heaters__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .heaters__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.residential {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .residential__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .residential__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .residential__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.retractable {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .retractable__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .retractable__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .retractable__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

.screens {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(autofit, 90rem);
  grid-gap: 1.5rem; }
  .screens__text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    grid-column: 1/-1;
    align-self: start; }
  .screens__header {
    font-size: 4rem;
    grid-column: 1/-1;
    justify-self: center; }
  .screens__hr {
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: end;
    border-radius: 50%; }

@media screen and (max-width: 768px) {
  .pergolas, .retractaroofs, .arcadia, .commercial, .heaters, .residential, .retractable, .screens {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofit, 90rem);
    grid-gap: 3rem;
    text-align: center;
    width: 90%;
    margin: 0 auto; } }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .contact__header {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 6rem;
    font-weight: 200;
    margin-bottom: 3rem; }
  .contact__form-header {
    margin: 3rem;
    font-size: 3rem; }
  .contact__form {
    grid-row: 2/4;
    display: grid; }
  .contact__input {
    margin: 1rem;
    padding: 1.5rem;
    width: 80%;
    margin-bottom: 3rem;
    font-size: 2rem; }
  .contact__message {
    width: 80%;
    margin: 1rem; }
  .contact__submit {
    width: 9rem;
    margin-bottom: 3rem; }
  .contact__label {
    font-size: 2rem; }
  .contact__phone {
    grid-column: 2/3;
    grid-column: 2/-1;
    display: grid;
    font-size: 3rem;
    margin-left: 3rem; }
    .contact__phone__header {
      font-size: 3rem;
      margin: 3rem 0; }
    .contact__phone__fax-label {
      margin-top: 3rem; }
    .contact__phone__email-label {
      margin-top: 3rem; }
  .contact__follow {
    grid-column: 2/3;
    display: grid;
    margin: 3rem;
    font-size: 3rem; }
    .contact__follow__header {
      font-size: 3rem; }
  .contact__link {
    margin: 1rem 0;
    color: #54483A;
    transition: all .5s; }
  .contact__link:hover {
    color: black; }

.aboutus {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .aboutus__header {
    grid-column: 1/-1;
    justify-self: center;
    font-size: 6rem; }
  .aboutus__com {
    grid-column: 1/-1;
    font-size: 8rem; }
