<div class="pergolas">
  <h4 class="pergolas__header">Ultra Lattice Aluminum Pergola</h4>
  <p class="pergolas__text">
    We sell and install ultra lattice aluminum pergolas. They are perfect if you dont want to spend alot more on an arcadia.
  </p>
  <hr class="pergolas__hr">

  <figure>
    <img src="./img/alumperg/modern-radius.jpg" alt="A modern radius ultra lattice aluminum pergola" class="pergolas__img-1 pergolas__img">
  </figure>
  <figure>
    <img src="./img/alumperg/pu21.jpg" alt="Free standing ultra lattice over a backyard patio with fireplace" class="pergolas__img-2 pergolas__img">
  </figure>
  <figure>
    <img src="./img/alumperg/tan-ultra-lattice.jpg" alt="Tan ultra lattice over an outdoor kitchen" class="pergolas__img-3 pergolas__img">
  </figure>
  <figure><img src="./img/alumperg/ultrabackyard.jpg" alt=""></figure>
  <figure><img src="./img/alumperg/ultralattice.jpg" alt=""></figure>
  <figure><img src="./img/alumperg/ultralattice2.jpg" alt=""></figure>
  <figure><img src="./img/alumperg/ultralatticehouse.jpg" alt=""></figure>
  <figure><img src="./img/alumperg/ultralatticevegas.jpg" alt=""></figure>
</div>