<div class="arcadia">
  <h4 class="arcadia__header">Arcadia Louvered Roofs</h4>
  <p class="arcadia__text">
    Arcadia's are the ultimate in home luxury. They are the shit and they are so fucking cool Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque deserunt, veritatis blanditiis. Consequuntur, inventore, esse? Architecto eligendi assumenda, consequatur iure a aspernatur voluptate temporibus sapiente odit, eos. Optio nisi, similique.
  </p>
  <hr class="arcadia__hr">


  <figure><img src="./img/arcadia/100_0864.JPG" alt="" class="arcadia__img arcadia__img-1"></figure>

  <figure><img src="./img/arcadia/100_0867.JPG" alt="" class="arcadia__img arcadia__img-2"></figure>

  <figure><img src="./img/arcadia/arcaida.jpg" alt="" class="arcadia__img arcadia__img-3"></figure>

  <figure><img src="./img/arcadia/100_0983.JPG" alt="" class="arcadia__img arcadia__img-4"></figure>

  <!-- <figure><img src="./img/arcadia/1899 Bar & Grill 2.jpg" alt="" class="arcadia__img arcadia__img-5"></figure> -->

  <figure><img src="./img/arcadia/1899 Bar & Grill 3.jpg" alt="" class="arcadia__img arcadia__img-6"></figure>

  <figure><img src="./img/arcadia/1899 Bar & Grill, NAU (1).JPG" alt="" class="arcadia__img arcadia__img-7"></figure>

  <figure><img src="./img/arcadia/Alto Job (1).JPG" alt="" class="arcadia__img arcadia__img-12"></figure>

  <figure><img src="./img/arcadia/Alto Job (10).JPG" alt="" class="arcadia__img arcadia__img-13"></figure>

  <figure><img src="./img/arcadia/Alto Job (2).JPG" alt="" class="arcadia__img arcadia__img-14"></figure>

  <figure><img src="./img/arcadia/APC DFW (1).JPG" alt="" class="arcadia__img arcadia__img-15"></figure>

  <figure><img src="./img/arcadia/Arcadia - Lee Job 008.JPG" alt="" class="arcadia__img arcadia__img-16"></figure>

  <figure><img src="./img/arcadia/Arcadia - Lee Job 012.JPG" alt="" class="arcadia__img arcadia__img-17"></figure>

  <figure><img src="./img/arcadia/Arcadia - Lee Job 014.JPG" alt="" class="arcadia__img arcadia__img-18"></figure>

  <figure><img src="./img/arcadia/Arcadia - Locus Grove 089.JPG" alt="" class="arcadia__img arcadia__img-19"></figure>

  <figure><img src="./img/arcadia/Arcadia - Locus Grove 100.JPG" alt="" class="arcadia__img arcadia__img-20"></figure>

  <figure><img src="./img/arcadia/Arcadia Pics (7).jpg" alt="" class="arcadia__img arcadia__img-21"></figure>

  <figure><img src="./img/arcadia/chosy.JPG" alt="" class="arcadia__img arcadia__img-22"></figure>

  <figure><img src="./img/arcadia/Grey Oaks Country Club Naples, Fl (1).JPG" alt="" class="arcadia__img arcadia__img-23"></figure>

  <figure><img src="./img/arcadia/Grey Oaks Country Club Naples, Fl (2).JPG" alt="" class="arcadia__img arcadia__img-24"></figure>

  <figure><img src="./img/arcadia/woodgrain.jpg" alt="" class="arcadia__img arcadia__img-25"></figure>
</div>