<div class="commercial">
  <h4 class="commercial__header">Commercial Awnings</h4>
  <p class="commercial__text">
    Commercial Awnings add a whole new look, creating a stunning new identity for your business. Choose from an array of shapes, sizes and colors - choices to create the image you desire. Today’s awnings provide fashion with function. They protect your customers from nature's elements including sunlight, wind, rain and snow. Awnings can enhance the appearance of any store, providing shelter and attractive signage. As signage, they act as an efficient marketing tool for businesses and extend a welcome to your customers. 
  </p>
  <hr class="commercial__hr">
  <figure><img src="./img/commercial/IMG_0391.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_0406.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_0500.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_0631.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_0632.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_1033.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_1040.jpg" alt=""></figure>
  <!-- <figure><img src="./img/commercial/IMG_1470.jpg/" alt=""></figure> -->
  <figure><img src="./img/commercial/IMG_1573-e1520481537157.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2029.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2030.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_21141.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2336.jpg" alt=""></figure>
  <figure><img src="./img/commercial/ironworks.jpg" alt=""></figure>
  <figure><img src="./img/commercial/riverrockbrew.jpg" alt=""></figure>
  <figure><img src="./img/commercial/200-scallions.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2379.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2380.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2556.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_2953.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3139.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3142.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3262-e1520481574519.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3263-e1520481598275.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3390.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3893.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_3985.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_4063.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_4168.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_4312.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_4362.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_4392-e1520481632470.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_5805.jpg" alt=""></figure>
  <figure><img src="./img/commercial/IMG_6696.jpg" alt=""></figure>
</div>