<div class="heaters">
  <h4 class="heaters__header">Bromic Outdoor Heaters</h4>
  <p class="heaters__text">Helping you bring the indoor out by keeping you warm when it gets chili Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum obcaecati nulla fugiat qui, enim vero aliquam tempore reprehenderit adipisci neque. Modi ab placeat mollitia nisi iste illum excepturi, iusto at.</p>
  <hr class="heaters__hr">
  <figure><img src="./img/heaters/IMG_3979_mountains-low.jpg" alt=""></figure>
  <figure><img src="./img/heaters/IMG_3990-low.jpg" alt=""></figure>
  <figure><img src="./img/heaters/index.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Madrid-TerrazaSol-TungstenElectric-01.jpg" alt=""></figure>
  <figure><img src="./img/heaters/shot-1-low.jpg" alt=""></figure>



  <figure><img src="./img/heaters/Madrid-TerrazaSol-TungstenElectric-02.jpg" alt=""></figure>



  <figure><img src="./img/heaters/Melbourne-CodeBlackCoffee-TungstenGas-02.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Sydney-Chiswick-TungstenGas02.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Sydney-TheGoldenSheaf-TungstenPortable-02.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Sydney-ResidentialVaucluse-TungstenPortable-01.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Madrid-DOMO-TungstenElectric-01.jpg" alt=""></figure>
  <figure><img src="./img/heaters/94052-9338914.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Bromic-Tungsten-Electric-black-lifestyle__05524.1493859398.480.480.jpg" alt=""></figure>
  <figure><img src="./img/heaters/Madrid-KM-DE-PIZZA-TungstenElectric-01.jpg" alt=""></figure>
  <figure><img src="./img/heaters/heat.jpg" alt=""></figure>
</div>