<div class="content">
  <figure class="content__item content__item-1">
    <a href="/#!/arcadia"><img src="./img/home/arcaida.jpg" alt="White one white arcadia louvered roof"></a>
  </figure>

  <figure class="content__item content__item-2">
    <a href="/#!/commercial"><img src="./img/home/commercial.jpg" alt="Grey commercial awnings ar rock bottom brewery milwaukee"></a>
  </figure>

  <figure class="content__item content__item-3">
    <a href="/#!/aluminumpergola"><img src="./img/home/ultrabackyard.jpg" alt="Ultra lattice aluminum pergola in a backyard"></a>
  </figure>

  <figure class="content__item content__item-4">
    <a href="/#!/residential"><img src="./img/home/DSC02874.JPG" alt="Residential awnings on a house"></a>
  </figure>

  <figure class="content__item content__item-5">
    <a href="/#!/solarscreens"><img src="./img/home/SolarScreens.png" alt="Retractable solar screens on a porch"></a>
  </figure>

  <figure class="content__item content__item-6">
    <a href="/#!/heaters"><img src="./img/home/bromic.jpg" alt="Bromic ceramic heaters" ></a>
  </figure>

  <figure class="content__item content__item-7">
    <a href="/#!/rectratableawnings"><img src="./img/home/retractable-awning.jpg" alt="Retractable awning over a patio in a backyard" ></a>
  </figure>

  <figure class="content__item content__item-8">
    <a href="/#!/retractableroofs"><img src="./img/home/retractable-roof.jpg" alt="Retractable roof structure on top of a garage in chicago" ></a>
  </figure>

</div>