<div class="residential">
  <h4 class="residential__header">Residential Awnings</h4>
  <p class="residential__text">Retractable window awnings are designed to block the sun and add a decorative touch to single windows or groups of windows. They are adjustable from inside the house to a maximum angle of 165 degrees to completely shade east or west facing windows. The seasonal shading needs of southern exposures are well controlled with these awnings. Window awnings are available in a variety of different frame colors and hundreds of different fabric colors. They may be operated manually, motorized or fully automated.</p>
  <hr class="residential__hr">
  <figure><img src="./img/residential/DSC02874.JPG" alt=""></figure>
  <figure><img src="./img/residential/green.jpg" alt=""></figure>
  <figure><img src="./img/residential/images.jpg" alt=""></figure>
  <figure><img src="./img/residential/red.jpg" alt=""></figure>
  <figure><img src="./img/residential/res.jpg" alt=""></figure>
  <figure><img src="./img/residential/reside.jpg" alt=""></figure>
  <figure><img src="./img/residential/residential.jpg" alt=""></figure>
</div>