<div class="retractable">
  <h4 class="retractable__header">Retractable Awnings</h4>
  <p class="retractable__text">
    A retractable awning for your deck or patio is an extension of your home. You made the investment in a deck or patio with the intention of enjoying the outdoors—now you can with an UnderCover Outdoors Awning. Whether you need protection from the sun or the rain, with the touch of a button your patio transforms into a comfortable setting for your family or guests. 
  </p>
  <hr class="retractable__hr">
  <figure><img src="./img/retratables/Martinez-install-9-4-08-3.jpg" alt=""></figure>
  <figure><img src="./img/retratables/retractable-awning.jpg" alt=""></figure>
  <figure><img src="./img/retratables/roof-mount-retracted.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Schneider-finish-photos-9-2-08-6.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Total-Eclipse-12.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Total-Eclipse-2.jpg" alt=""></figure>
  <figure><img src="./img/retratables/Total-Eclipse-open-roller.jpg" alt=""></figure>
</div>