<div class="screens">
  <h4 class="screens__header">Solar Screens</h4>
  <p class="screens__text">
    Exterior roll-up solar screens are unsurpassed in stopping up to 90% of heat, glare, and fading, while maintaining a magnificent view. They give a feeling of sunglasses on the windows.

  Our roll-up solar screens are easily operated from the inside of your home. This gives you the option of lowering them only when needed and allowing maximum view and openness. They are great for windows, glass doors, sunrooms, and porches. Available sizes include widths up to 21' and heights up to 16' for one solid piece. Several units may be coupled if necessary.
  </p>
  <hr class="screens__hr">
  <figure><img src="./img/screens/E-Zip-1-unit-half-way-out-down.jpg" alt=""></figure>
  <figure><img src="./img/screens/Eclipse-E-Zip-10-units-down.jpg" alt=""></figure>
  <figure><img src="./img/screens/Eclipse-E-Zip-8-units-down.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0375.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0376.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0377.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0378.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_0803.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2296.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1324.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1341.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1343.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1344.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1345.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1347.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_1918.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2582.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2586.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_2969.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3736.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3739.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3969.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_3970.jpg" alt=""></figure>
  <figure><img src="./img/screens/IMG_6726.jpg" alt=""></figure>
  <figure><img src="./img/screens/SUMMIT_SL111_SCREENS.jpg" alt=""></figure>
  <figure><img src="./img/screens/VDS-extended-inside.jpg" alt=""></figure>
  <figure><img src="./img/screens/VDS-extended-outside.jpg" alt=""></figure>
  <figure><img src="./img/screens/VDS-half-extended-outside.jpg" alt=""></figure>
</div>